@page
@model IndexModel
@{
    ViewData["Title"] = "Gourmand Gurus";
}

<div class="text-center mt-5">
    <h1 class="display-3">Gourmand Gurus</h1>
    <p class="lead">Discover and share delicious recipes with other Gourmand Gurus, your go-to platform for culinary inspiration.</p>
    <p>Join our community to explore a world of flavors.</p>

    <a class="btn btn-primary btn-lg mt-3" href="/Recipes">Explore Recipes</a>
</div>
